{{ block "FormAccount"  .}}
	{{if not .Id }}<div id="FormAccount" class="form-group" style="display:none;">{{end}}
	<form>
		<label for="Balance">Balance :</label>
		<input id="Balance" name="Balance" value="{{ or .Balance "" }}" placeholder="Enter Balance">		<label for="Contract_id">Contract id *:</label>
		<input id="Contract_id" name="Contract_id" value="{{ or .Contract_id "" }}" placeholder="Enter Contract id">		<label for="Tenant_main">Tenant main :</label>
		<input id="Tenant_main" name="Tenant_main" value="{{ or .Tenant_main "" }}" placeholder="Enter Tenant main">		<label for="Note">Note :</label>
		<textarea id="Note" name="Note" value="" placeholder="Enter Note">{{ or .Note "" }}</textarea>
		<input type="button" id="save-Account" name="save" value="Submit" hx-post="/account" hx-target="#post-response" />
		<input type="button" id="search-Account" name="search" value="Search" hx-post="/account/search" hx-target="#post-response" />
		<input type="reset" name="reset" value="Reset" />
	</form>
	{{if not .Id }}</div>{{end}}
{{ end }}