{{ define "FormAccount" }}
	<div id="FormAccount" class="form-group" style="display:none;">
	<form method="POST" action="/account/search">
	<label for="search_Account">Search text:</label>
	<input type="text" name="keyword" value="" id="search_Account" />
	<input type="submit" name="submit" value="Search" />
	</form>
	<form method="POST" action="/account">
		<label for="Id">Id:</label>
        <input type="text" id="Id" name="Id" value="" placeholder="Enter Id" />
		<label for="Type">Type:</label>
        <input type="text" id="Type" name="Type" value="" placeholder="Enter Type" />
		<label for="Balance">Balance:</label>
        <input type="text" id="Balance" name="Balance" value="" placeholder="Enter Balance" />
		<label for="Contract_id">Contract id:</label>
        <input type="text" id="Contract_id" name="Contract_id" value="" placeholder="Enter Contract id" />
		<input type="submit" name="submit" value="Submit" />
		<input type="reset" name="reset" value="Reset" />
	</form>
	</div>
{{ end }}