<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Web GUI with Menu and Form</title>
  <link rel="stylesheet" href="/static/style.css">
  {{- template "FormHeader" }}
</head>
<body>

  <!-- Left Column (Menu) -->
  <div class="menu">
    <h2>Menu</h2>
    <ul>
      {{- range $f, $obj := . }}
      <li onclick="showForm('Form{{$f}}')">{{replace $f "_" " "}}</li>
      {{- end }}
    </ul>
  </div>

  <!-- Right Column (Form Content) -->
  <div class="content">
    <h2 id="form-title">Tenant Management System</h2>
    <div id="form-container">
      {{- range $f, $obj := . }}
      <!-- {{replace $f "_" " "}} (Default). Example of passing a var to a filter func - Need to be like this to work, can not quote string around the var.
       go 'template <NAME>' does not suport dynamic <NAME> as a variable. -->
      {{- CallTemplate $f $obj }}
      {{- end }}
      <hr>
      <div id="post-response"></div>
    </div>
  </div>

  <script>
    function showForm(formId) {
      // Hide all forms
      // Got no idea why if I put the dash before the range the whole page is empty . Put dash after is fine. Only this section, not the above
      {{ range $f, $obj := . }}
      document.getElementById('Form{{$f}}').style.display = 'none';
      {{- end }}
      // Show the selected form
      document.getElementById(formId).style.display = 'block';

      // Update the title
      const formTitleMap = {
        {{- range $f, $obj := . }}
        'Form{{$f}}': '{{replace $f "_" " "}}',
        {{- end }}
      };
      document.getElementById('form-title').innerText = formTitleMap[formId];
    }
  </script>
</body>
</html>