{{ block "FormProperty"  .}}
	{{if not .Id }}<div id="FormProperty" class="form-group" style="display:none;">{{end}}
	<form>
		<label for="Property-Code">Code *:</label>
		<input type="text" id="Property-Code" name="Code" value="{{ or .Code "" }}" placeholder="Enter Code" />
		<label for="Property-Address">Address :</label>
		<input type="text" id="Property-Address" name="Address" value="{{ or .Address "" }}" placeholder="Enter Address" />
		<label for="Property-Note">Note :</label>
		<textarea id="Property-Note" name="Note" placeholder="Enter Note">{{ or .Note "" }}</textarea>
		<input type="button" id="save-Property" name="save" value="Submit" hx-post="/property" hx-target="#post-response" />
		<input type="button" id="search-Property" name="search" value="Search" hx-post="/property/search" hx-target="#post-response" />
		<input type="button" name="reset" value="Reset Key Fields" onclick="ClearKeyFieldsProperty();" />
	</form>
	{{if not .Id }}</div>{{end}}
	<script language="javascript">
		function ClearKeyFieldsProperty() {
			document.getElementById("Property-Code").value = "";
			}
	</script>
{{ end }}