{{ block "FormProperty_manager"  .}}
	{{if not .Id }}<div id="FormProperty_manager" class="form-group" style="display:none;">{{end}}
	<form>
		<label for="Property_manager-First_name">First name :</label>
		<input type="text" id="Property_manager-First_name" name="First_name" value="{{ or .First_name "" }}" placeholder="Enter First name" />
		<label for="Property_manager-Last_name">Last name :</label>
		<input type="text" id="Property_manager-Last_name" name="Last_name" value="{{ or .Last_name "" }}" placeholder="Enter Last name" />
		<label for="Property_manager-Address">Address :</label>
		<input type="text" id="Property_manager-Address" name="Address" value="{{ or .Address "" }}" placeholder="Enter Address" />
		<label for="Property_manager-Contact_number">Contact number :</label>
		<input type="text" id="Property_manager-Contact_number" name="Contact_number" value="{{ or .Contact_number "" }}" placeholder="Enter Contact number" />
		<label for="Property_manager-Email">Email *:</label>
		<input type="text" id="Property_manager-Email" name="Email" value="{{ or .Email "" }}" placeholder="Enter Email" />
		<label for="Property_manager-Join_date">Join date :</label>
		<input type="text" id="Property_manager-Join_date" name="Join_date" value="{{ or .Join_date "" }}" placeholder="Enter Join date" />
		<label for="Property_manager-Note">Note :</label>
		<textarea id="Property_manager-Note" name="Note" placeholder="Enter Note" onchange="SetUpdateButtonLabelProperty_manager();">{{ or .Note "" }}</textarea>
		<input type="button" id="save-Property_manager" name="save" value="Update" hx-post="/property_manager" hx-target="this" />
		<input type="button" id="search-Property_manager" name="search" value="Search by key fields" hx-post="/property_manager/search" hx-target="#post-response" />
		<input type="button" name="reset" value="Reset Key Fields" onclick="ClearKeyFieldsProperty_manager();" />
	</form>
	{{if not .Id }}</div>{{end}}
	<script language="javascript">
		function ClearKeyFieldsProperty_manager() {
			document.getElementById("Property_manager-Email").value = "";
			}
		function SetUpdateButtonLabelProperty_manager() {
			ele = document.getElementById("save-Property_manager");
			if (ele.value != "Update") {
				ele.value = "Update";
			}
		}
	</script>
{{ end }}