{{ block "FormTenant"  .}}
	{{if not .Id }}<div id="FormTenant" class="form-group" style="display:none;">{{end}}
	<form>
		<label for="Tenant-First_name">First name :</label>
		<input type="text" id="Tenant-First_name" name="First_name" value="{{ or .First_name "" }}" placeholder="Enter First name" />
		<label for="Tenant-Last_name">Last name :</label>
		<input type="text" id="Tenant-Last_name" name="Last_name" value="{{ or .Last_name "" }}" placeholder="Enter Last name" />
		<label for="Tenant-Address">Address :</label>
		<input type="text" id="Tenant-Address" name="Address" value="{{ or .Address "" }}" placeholder="Enter Address" />
		<label for="Tenant-Contact_number">Contact number :</label>
		<input type="text" id="Tenant-Contact_number" name="Contact_number" value="{{ or .Contact_number "" }}" placeholder="Enter Contact number" />
		<label for="Tenant-Email">Email *:</label>
		<input type="text" id="Tenant-Email" name="Email" value="{{ or .Email "" }}" placeholder="Enter Email" />
		<label for="Tenant-Join_date">Join date :</label>
		<input type="text" id="Tenant-Join_date" name="Join_date" value="{{ or .Join_date "" }}" placeholder="Enter Join date" />
		<label for="Tenant-Note">Note :</label>
		<textarea id="Tenant-Note" name="Note" placeholder="Enter Note">{{ or .Note "" }}</textarea>
		<input type="button" id="save-Tenant" name="save" value="Submit" hx-post="/tenant" hx-target="#post-response" />
		<input type="button" id="search-Tenant" name="search" value="Search" hx-post="/tenant/search" hx-target="#post-response" />
		<input type="button" name="reset" value="Reset Key Fields" onclick="ClearKeyFieldsTenant();" />
	</form>
	{{if not .Id }}</div>{{end}}
	<script language="javascript">
		function ClearKeyFieldsTenant() {
			document.getElementById("Tenant-Email").value = "";
			}
	</script>
{{ end }}