<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Setup Project Helper</title>
    <link rel="stylesheet" href="/static/assets/style.css">
</head>
<body>
    <div class="container">
        <h1>Setup Project Helper</h1>
        <p>This is to generate your `vars-ansible.yaml` file at the start to reduce typo errors, etc.</p>
        <b>DEBUG</b>
        <pre>
        form1 data: {{ .form1_dump }}
        form2 data: {{ .form2_dump }}
        form3 data: {{ .form3_dump }}
        </pre>
    </div>
</body>
</html>
