{{"{{"}} block "Form{{.formName}}" {{" .}}"}}
	{{"{{if not .Id }}"}}<div id="Form{{.formName}}" class="{{.formClass}}" style="display:none;">{{"{{end}}"}}
	<form>
		{{ range $fName := .fList -}}
		{{ $fp := (index $.fieldProp $fName) -}}
		{{ if index $fp "display" -}}
		<label for="{{$fName}}">{{replace $fName "_" " "}} {{index $fp "label"}}:</label>
		{{if eq (index $fp "ele") "textarea" -}}
		<textarea id="{{$fName}}" name="{{$fName}}" placeholder="Enter {{replace $fName "_" " "}}">{{"{{ or ."}}{{$fName}}{{ " \"\" }}"}}</textarea>
		{{else -}}
        <{{ index $fp "ele" }} type="{{index $fp "type"}}" id="{{$fName}}" name="{{$fName}}" value="{{"{{ or ."}}{{$fName}}{{ " \"\" }}"}}" placeholder="Enter {{replace $fName "_" " "}}" {{ index $fp "close_ele" }}
		{{end -}}
		{{ end -}}
		{{ end -}}
		<input type="button" id="save-{{$.formName}}" name="save" value="Submit" hx-post="/{{lower $.formName}}" hx-target="#post-response" />
		<input type="button" id="search-{{$.formName}}" name="search" value="Search" hx-post="/{{lower $.formName}}/search" hx-target="#post-response" />
		<input type="reset" name="reset" value="Reset" />
	</form>
	{{"{{if not .Id }}"}}</div>{{"{{end}}"}}
{{"{{"}} end {{"}}"}}